/dev
/src-*
inst/doc
.Rproj.user
.RData
.Rhistory
.vscode
packrat/lib*/
.httr-oauth
packrat/src/
/LOCAL_APPDATA_FONTCONFIG_CACHE/
tsmp.Rcheck/
tsmp*.tar.gz
tsmp*.tgz
/tests/*/Rplots.pdf
/README_cache/
